.preference {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 15em;
  margin: 2em auto;
}

.preference > .preference__title {
  font-size: 1.2em;
  color: var(--title-color);
}

.theme {
  display: block;
  text-align: center;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  padding: 1em;
  border-radius: 6px;
}

.theme > .preference__title {
  padding-bottom: 1em;
}
